:root {
    --color-bg: hsl(0, 0%, 100%);

    --color-navbar: hsl(0, 0%, 0%);
}

@import url(./animation.css);


@media (max-width:1224px) {
    .title {
        font-size: 2em;
    }

    .Container_main_information {
        row-gap: 15px;

        padding: 40px;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .Container_secundary_information {
        padding: 25px;
    }
}

@media (max-width:1024px) {
    main {
        display: grid;
        grid-template-columns: 30% 25% 45%;
        grid-template-rows: 55vh 50px 60vh 50vh;
    }
    .title {
        font-size: 2.5em;
    }

    .Container_img_top_left {
        grid-column: 1/5;
        grid-row: 1/3;
    }

    .Container_main_information {
        grid-column: 1/3;
        grid-row: 3;
        
        row-gap: 25px;

        z-index: 2;
    }

    .Container_Control_switch_page {
        grid-column: 3;
        grid-row: 2;

        z-index: 2;
    }

    .Container_img_bottom_left {
        grid-column: 1/3;
        grid-row: 4;

        z-index: 2;
    }

    .Container_secundary_information {
        grid-column: 3/4;
        grid-row: 4/5;

        z-index: 2;
    }

    .Container_img_bottom_right {
        grid-column: 3/4;
        grid-row: 3;

        z-index: 2;

    }
}

@media (max-width:768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .Container_img_top_left {
        background-image: url(../images/mobile-image-hero-1.jpg);
        width: 100vw;
        height: 100vw;
    }

    .Container_Control_switch_page {
        width: 100%;
        height: 80px;

        background-color: var(--color-bg);

        display: flex;
        justify-content: flex-end;
    }

    .Container_Control_switch_page li {
        width: 20%;

        position: relative;
        bottom: 80px;
    }
    .Container_secundary_information {
        padding: 100px 10%;

        row-gap: 25px;
    }

    .Container_main_information {
        padding: 0px 10% 100px 10%;
    }

    .Container_img_bottom_right,
    .Container_img_bottom_left {
        width: 100vw;
        height: 80vw;
    }
}

@media (max-width: 624px) {
    .head {
        animation: menu-animation 1s ease-in-out;

        left: 0;
        top: 50px;

        width: 100%;

        justify-content: center;
    }

    .head:is(.block) {
        animation: menu-animation 1s ease-in-out reverse;

        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        width: 100%;

        z-index: 4;

        background-color: rgba(0, 0, 0, 0.548);

    }

    .logo {
        height: 20px;
    }

    .block .logo {
        display: none;
    }

    .menu {
        display: inline;

        position: absolute;
        left: 45px;

        height: auto;
        width: 30px;

        cursor: pointer;

        z-index: 3;
    }

    .block .menu {
        top: 50px;

        animation: menu-animation .5s ease-in-out;
    }

    .navbar_container:not(.active) {
        display: none;
    } 

    .navbar_container:is(.active) {
        animation: menu-animation .5s ease-in-out;

        width: 100%;
        height: 150px;

        position: absolute;
        top: -25px;
        left: 0;

        background-color: var(--color-bg);

        z-index: 2;

        flex-direction: row-reverse;
        align-items: center;

        padding-right: 30px;

        padding-top: 30px;
    }

    .navbar_container.active li {        
        color: var(--color-navbar);
    }

    .navbar_container li::after {
        background-color: var(--color-navbar);
    
    }
    
}